{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Game 1 - Page 2 of 4
{% endblock %}

{% block content %}

<p>
<!--   You now see on the top part of the screen that the first game has begun, and you are told who you are matched against.-->
    If you are a RED player, you are told that it is your move, and are given a description of the choices available to you.
</p>

<!-- RED player's screen -->
<br>
<div class="player-screen">
<h5>RED player's screen</h5>

    <h4>Your Move</h4>

<!-- Player's color info -->
<div class="card my-5 card-screen">
    <div class="card-header">You are RED player</div>
</div>

<div class="card my-3 card-screen">
    <div class="card-body">

        <!-- Piles -->
        <p class="card-text">The Large Pile is now: {{ large_pile_practice }}</p>
        <p class="card-text">The Small Pile is now: {{ small_pile_practice }}</p>

        <br>

        <!-- Decision -->
        <p>Do you want to take the Large Pile?</p>

        {% if player.id_in_group == 1 %}
        <!--Buttons-->
        <div class="btn-div">
        <label id="take-label" class="btn btn-outline-secondary">
            <input id="take" type="radio" name="take_practice" value="True" style="display: none;" required>Take
        </label>
        <label id="pass-label" class="btn btn-outline-secondary">
            <input id="pass" type="radio" name="take_practice" value="False" style="display: none;" required>Pass
        </label>
        </div>
        {% else %}
        <div class="btn-div">
        <label id="take-label-off" class="btn btn-outline-secondary">
            <input id="take-off" type="radio" name="take_practice" value="True" style="display: none;">Take
        </label>
        <label id="pass-label-off" class="btn btn-outline-secondary">
            <input id="pass-off" type="radio" name="take_practice" value="False" style="display: none;">Pass
        </label>
        </div>
        {% endif %}
  </div>
</div>
</div>

<br>

<p>
<!--    If you are a BLUE player, you are told that it is your opponent's move, and are told the choices available to your opponent.-->
     If you are a BLUE player, you are told that it is your opponent's move.
    You will see a waiting page, as below.
    Once your opponent has taken his or her decision, it will be your turn to move.
</p>

<!-- BLUE player's screen -->
<br>
<div class="player-screen">
<h5>BLUE player's screen</h5>

<div class="otree-wait-page container">
    <div class="card">
        <h5 class="otree-wait-page__title card-header" style="text-align:left;">
            Please wait
        </h5>
        <div class="card-body">
            <p class="otree-wait-page__body" style="font-size:1rem;">Waiting for the other participant.</p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
            </div>
        </div>
    </div>
</div>
<br>
</div>

<br>
<p>
    {% if Constants.lab %}
<!--    Will all the RED players now choose PASS by typing in P on your terminals now.-->
    Will all the RED players now choose PASS by selecting the proper button.
    BLUE players, please select NEXT.
    {% endif %}
</p>


    {% next_button %}

{% endblock %}
