{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Game 1 - Page 4 of 4
{% endblock %}

{% block content %}

<p>
    Since BLUE chose TAKE, the first game has ended.
    Again, you are notified about the decision taken in the previous round.
    Specifically, you are notified whether "You decided to take the Large Pile" or "Your opponent decided to take the Large Pile,"
    depending on whether you or your opponent ended the experiment.
<!--    On the bottom part of the screen, you are told that the game is over, and that the next game will begin shortly.-->
<!--    On the top part of the screen, BLUE's move is recorded with a TAKE in the second column.-->
<!--    The payoffs from the first game for both yourself and your opponent are recorded on the right hand side of the screen in the columns labeled-->
<!--    "Payoff."-->
<!--    Your own payoff is in your color.-->
<!--    That of your opponent is in the opponent's color.-->
<!--    Please record your own payoff on the record sheet that is provided.-->
    Then, both yours and your opponent's payoff are reported on your screen.
</p>

<br>
<!-- BLUE player's result screen -->
<div class="player-screen">

<h5>BLUE player's screen</h5>

    <h4>Results</h4>

<div class="card my-3 card-screen"><div class="card-header">You decided to take the large pile</div></div>
<!--        <p>You decided to take the large pile.</p>-->
<div class="card my-5 card-screen">
    <div class="card-body">
            <p>Your payoff is: {{ large_pile_practice }}</p>
            <p>Your opponent's payoff is: {{ small_pile_practice }}</p>
        </div>
</div>
</div>

<br>
<!-- RED player's result screen -->
<div class="player-screen">
<h5>RED player's screen</h5>

    <h4>Results</h4>

<div class="card my-3 card-screen"><div class="card-header">Your opponent decided to take the large pile</div></div>
<!--        <p>Your opponent decided to take the large pile.</p>-->
<div class="card my-5 card-screen">
    <div class="card-body">
        <p>Your payoff is: {{ small_pile_practice }}</p>
        <p>Your opponent's payoff is: {{ large_pile_practice }}</p>
    </div>
</div>
</div>

<br>

<p>
    You are not being paid for the practice session, but if this were the real experiment,
    then the payoff you have recorded would be money you have earned from the first game,
    and you would be paid this amount for that game at the end of the experiment.
    The total you earn over all {{ Constants.num_rounds }} real games is what you will be paid for your participation in the experiment.
</p>

<p>
<!--        We will now proceed to the second practice game.-->
    <!--Added-->
    We will now proceed to with the real games.
    Once you push NEXT, you will be paired with an opponent and start playing the game.
    If you have any questions, please raise your hand and ask them now,
    as you are not allowed to do so during the real experiment.
</p>
    {% next_button %}

{% endblock %}
