{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Game 1 - Page 1 of 4
{% endblock %}

{% block content %}

<p>
<!--    During the instruction session, we will teach you how to use the computer by going through a few practice games.-->
    During the practice session, we will see for yourself how the experiment works.
    During the practice session, do not hit any keys until you are told to do so,
    and when you are told to enter information, type exactly what you are told to type.
    You are not paid for these practice game.

<!--    Please turn on your computer now by pushing the button labeled "MASTER" on the right hand side of the panel underneath the screen.-->
</p>

<!--
When the computer prompts you for your name, type your full name. Then hit the ENTER key.
When you are asked to enter your color, type R if your color is RED, and B if your color is BLUE.
Then hit ENTER.
-->

<p>
    You now see the experiment screen. The screen above will be displayed when it is your turn to move.
</p>
<p>
    The box in the top part of the screen tells your color.
    Your color has already been set and will not change for the duration of the experiment.
    If you are a RED player, in the box below you will read "You are RED player".
    If you are a BLUE player, you will read "You are BLUE player".
</p>
<p>
    For the practice game, your color will be visible on all pages, in a box similar to that displayed in the screen below.
    This is because in the practice game you will perform specific actions based on your color.
    Mind that during the actual experiment you will see your color only when it is your turn to move.
</p>

<p>
<!--    Please record your color and subject number on the top left hand corner of your record sheet.-->
<!--    Also record the number of the subject you are matched against in the first game.-->
<!--    Each game is represented by a row in the upper screen,-->
<!--    and the player you will be matched with in each of the ten games appears in the column labeled "OPP"-->
<!--    (which stands for "opponent") on the right side of the screen.-->
<!--   It also tells you the subject number of the player you are matched against in the first game.-->
<!--    It is important to note that <b>you will never be paired with the same player twice.</b>-->
</p>
<br>

<!-- Player's generic screen -->
<div class="player-screen">
    <h5>Player's screen</h5>

<!-- Player's color info -->
<div class="card my-5 card-screen">
    {% if player.id_in_group == 1 %}
    <div class="card-header">You are RED player</div>
    {% else %}
    <div class="card-header">You are BLUE player</div>
    {% endif %}
</div>

<!-- Decision screen practice (buttons switched off) -->
<div class="card my-5 card-screen">
    <div class="card-body">

        <!-- Piles -->
        <p class="card-text">The Large Pile is now: {{ Constants.large_pile }}</p>
        <p class="card-text">The Small Pile is now: {{ Constants.small_pile }}</p>

        <br>

        <!-- Decision -->
        <p>Do you want to take the Large Pile?</p>

        <!--Buttons-->
        <div class="btn-div">
        <label id="take-label" class="btn btn-outline-secondary">
            <input id="take_practice" type="radio" name="take_practice" value="True" style="display: none;">Take
        </label>
        <label id="pass-label" class="btn btn-outline-secondary">
            <input id="pass_practice" type="radio" name="take_practice" value="False" style="display: none;">Pass
        </label>
        </div>
  </div>
</div>
</div>

<br>


<p>
    When it is your turn to move, you will be shown the amount of the Large Pile and of the Small Pile.
    For example, at round 1 the Large Pile is {{ Constants.large_pile }} and the Small Pile is {{ Constants.small_pile }}.
    You will be asked to decide whether to TAKE the Large Pile or to PASS.
    Mind that you do not have to press anything now, this is just for illustrative purposes.
    Still, you can practice with these buttons to see how they work.
</p>
<p>
<!--    Throughout the experiment, the bottom of the screen will tell you what is currently happening,-->
<!--    and the top will tell you the history of what happened in the previous games.-->
<!--    Since the experiment has not begun yet, the top part of the screen is currently empty.-->
<!--    The bottom part of the screen tells you your subject number and your color.-->
<!--    It also tells you the subject number of the player you are matched against in the first game.-->

<!--    Is there anyone whose color is not correct?-->

</p>
<p>
    We will now start the first practice game.
    From this point forward, do not hit any keys until you are told to do so.
    Please, select NEXT.
</p>

<br>

    {% next_button %}



{% endblock %}
