{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game {{ game }} - Node {{ game_node }}
{% endblock %}

{% block content %}
<h3> Your Move</h3>

<!-- Player's color info -->
<div class="card my-5">
    {% if player.id_in_group == 1 %}
    <div class="card-header">You are RED player</div>
    {% else %}
    <div class="card-header">You are BLUE player</div>
    {% endif %}
</div>

<!-- Opponent's decision -->
{% if group.round_number > 1 %}
<div class="card my-5">
    <div class="card-header">Your opponent decided to pass</div>
</div>
{% endif %}

<div class="card my-3">
    <div class="card-body">

        <!-- Piles -->
        <p class="card-text">The Large Pile is now: {{ large_pile }}</p>
        <p class="card-text">The Small Pile is now: {{ small_pile }}</p>

        <br>

        <!-- Decision -->
        <p>Do you want to take the Large Pile?</p>

        <!--Buttons-->
        <div class="btn-div">
        <label id="take-label" class="btn btn-outline-secondary">
            <input id="take" type="radio" name="take" value="True" style="display: none;" required>Take
        </label>
        <label id="pass-label" class="btn btn-outline-secondary">
            <input id="pass" type="radio" name="take" value="False" style="display: none;" required>Pass
        </label>
        </div>
  </div>
</div>


<button class="btn btn-primary btn-large btn-primary next-button otree-btn-next" type="submit" value="Next">Next</button>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
var showButton = document.getElementsByClassName("btn btn-primary btn-large btn-primary next-button otree-btn-next")[0];
var newElement = document.createElement("p");
var radioTake = document.getElementById("take");
var radioPass = document.getElementById("pass");
var counter = 3

showButton.parentNode.replaceChild(newElement, showButton);

nextButton = setInterval(function() {
        if(radioTake.checked || radioPass.checked) {
            newElement.parentNode.replaceChild(showButton, newElement);
            clearInterval(nextButton);
        } else {
            newElement.innerHTML = "<div class='error-message'>Please, select either TAKE or PASS to make the NEXT button appear.</div>";
        }
    }, 1);
</script>
{% endblock %}