{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p>
    In this experiment, you will be playing the following game, for real money.
    First, you are matched with an opponent of the opposite color.
    There are two piles of money: a Large Pile and a Small Pile.
</p>
<p>
    At the beginning of the game the Large Pile has {{ Constants.large_pile }} and the Small Pile has {{ Constants.small_pile }}.
    RED has the first move and can either "Pass" or "Take."
    If RED chooses "Take," RED gets the Large Pile of {{ Constants.large_pile }},
    BLUE gets the small pile of {{ Constants.small_pile }}, and the game is over.
    If RED chooses "Pass," both piles double and it is BLUE's turn.
</p>
<p>
    The Large Pile now contains {{ large_pile_practice_second }} and the Small Pile {{ small_pile_practice_second }}.
    BLUE can take or pass.
    If BLUE takes, BLUE ends up with the Large Pile of {{ large_pile_practice_second }} and
    RED ends up with the Small Pile of {{ small_pile_practice_second }} and the game is over.
    If BLUE passes, both piles double and it is RED's turn again.
</p>
<p>
    This continues for a total of {{ Constants.num_rounds }} turns, or {{ turns }} turns for each player.
    On each move, if a player takes, he or she gets the Large Pile, his or her opponent gets the Small Pile, and the game is over.
    If the player passes, both piles double again and it is the other player's turn.
</p>
<p>
    The last move of the game is move {{ Constants.num_nodes }}, and is BLUE's move (if the game even gets this far).
    The Large Pile now contains {{ large_pile_practice_last }} and the Small Pile contains {{ small_pile_practice_last }}.
    If BLUE takes, BLUE gets the Large Pile of {{ large_pile_practice_last }} and RED gets the Small Pile of {{ small_pile_practice_last }}.
    If BLUE passes, then the piles double again.
    RED then gets the Large Pile, containing {{ large_pile_practice_pass }}, and BLUE gets the Small Pile, containing
    {{ small_pile_practice_pass }}.
    This is summarized in the following table.
</p>

<br>

<!-- Payoff table -->
<div class="table">
    <table>
        <thead>
            <tr>
                <th colspan="{{ Constants.num_nodes }}" style="text-align:center;">
                    Moves
                </th>
                <th>
                    Large Pile
                </th>
                <th>
                    Small Pile
                </th>
                <th>
                    RED's payoff
                </th>
                <th>
                    BLUE's payoff
                </th>
            </tr>
            <tr>
            {% for c in Constants.rounds_range %}
            <th>
                {{ c }}
            </th>
            {% endfor %}
            <th colspan="4"></th>
            </tr>
        </thead>
        <tbody>
        {% for moves, large, small, red, blue in instructionsMatrix %}
            <tr>
                {% for move in moves %}
                <td>{{ move }}</td>
                {% endfor %}
                <td>{{ large }}</td>
                <td>{{ small }}</td>
                <td>{{ red }}</td>
                <td>{{ blue }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p>
<!--    Go over table to explain what is in each column and row.<br>-->
    The experiment consists of {{ Constants.num_rounds }} games.
    In each game, you are matched with a different player the opposite color from yours.
    Thus, if you are a BLUE player, in each game, you will be with a RED player.
    If you are a RED player, in each game you are matched with a BLUE player.
</p>
<p>
    You will be matched with each of the subjects of the other color <i>exactly</i> once.
    So if your label is RED, you will be matched with each of the BLUE subjects <i>exactly</i> once.
    If you are BLUE, you will be matched with each of the RED subjects <i>exactly</i> once.
    <!-- We will now begin the practice session.-->

<!--    Will all the BLUE subjects please move to the terminals on the left side of the room,-->
<!--    and all the RED subjects move to the terminals on the right side of the room.-->

</p>

    <!-- Start practice round button
    <input class="btn btn-primary btn-large btn-primary next-button otree-btn-next" type="submit" value="Start practice game"/>
    -->
    <!-- Start experiment button -->
    <input class="btn btn-primary btn-large btn-primary next-button otree-btn-next" type="submit" value="Start Experiment"/>

{% endblock %}
