{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results of Game {{ previous_game }}
{% endblock %}

{% block content %}

<!-- Results if no player takes -->
{% if game_node == Constants.num_nodes %}
    <div class="card my-5"><div class="card-header">Both your opponent and you decided to pass in all rounds</div></div>
<!--    <p>Both the other player and you decided to pass in all rounds.</p>-->
    <div class="card my-3">
    <div class="card-body">
    {% if player.id_in_group == 1 %}
        <p>Since you are RED player, your payoff is: {{ large_pile_pass }}</p>
        <p>Your opponent's payoff is: {{ small_pile_pass }}</p>
    {% else %}
        <p>Since you are BLUE player, your payoff is: {{ small_pile_pass }}</p>
        <p>Your opponent's payoff is: {{ large_pile_pass }}</p>
    {% endif %}
    </div>
    </div>

<!-- Results if a player takes -->
{% elif player.take %}
    <div class="card my-5"><div class="card-header">You decided to take the large pile</div></div>
    <div class="card my-3">
    <div class="card-body">
<!--        <p>You decided to take the large pile.</p>-->
        <p>Your payoff is: {{ large_pile }}</p>
        <p>Your opponent's payoff is: {{ small_pile }}</p>
    </div>
    </div>
{% else %}
    <div class="card my-5"><div class="card-header">Your opponent decided to take the large pile</div></div>
    <div class="card my-3">
    <div class="card-body">
<!--        <p>Your opponent decided to take the large pile.</p>-->
        <p>Your payoff is: {{ small_pile }}</p>
        <p>Your opponent's payoff is: {{ large_pile }}</p>
    </div>
    </div>
{% endif %}

<!-- Next button -->
{% if previous_game < Constants.num_games %}
   <input class="btn btn-primary btn-large btn-primary next-button otree-btn-next" type="submit" value="Start next game"/>
{% else %}

{% endif %}

{% endblock %}


